* {
    margin: 0px;
    padding: 0;
    transition:  all .2s linear;
}

body {
    background-color: rgb(233, 233, 255);
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(196, 207, 255, 0.7)), url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ------------------------------------------------------------------------------------------------
                                        Home page 
---------------------------------------------------------------------------------------------------*/
#name {
    font-weight: bold;
    font-size: 23px;
}

#header.fixed-top {
    min-height: 70px;
}

#header {
    align-items: center;
    z-index: 100;
    height: 70px;
    background-color: white;
    min-width: 100%;
}

.navbar-custom {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.132);
    border-bottom: rgb(238, 209, 255) solid 1px;
}

.logo {
    width: 30px;
}

.custom {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.icon-box {
    overflow: hidden;
    background: #fff;
    box-shadow: 10px 10px 29px 10px rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    text-align: center;
    min-width: 300px;
    max-width: 300px;
    height: 280px;
    margin: 30px;
    padding: 20px 10px 20px 10px;
    align-items: center;
    justify-content: center;
}

#minimap {
    background-image: url("minimap.jpg");
    background-size: cover;
}

.inside {
    width: 280px;
    height: 210px;
    padding-top: 160px;
}

.icon-box button {
    background-color: rgb(118, 62, 168);
    color: #efe3ff;
}

.icon-box button:hover{
    background-color: #d1aeff;
    color:  rgb(91, 57, 120);
    border:  rgb(118, 62, 168) solid 1px;
    /* font-weight: bold; */
}

.icon-box:hover {
    transform: scale(1.08);
    border: 1px solid #b883ff;
    transition: border 0s;
    transition: transform 0.4s ease-in-out;
}

/* @media (max-width: 991px) {
    .custom {
        width: fit-content;
    }

    .icon-box {
         min-width: 80%; 
    }
} */

@media (max-width: 500px) {
    /* .custom {
    
    } */

    .icon-box {
        min-width: 300px;
    }
}

marquee {
    width: 280px;
    height: 200px;
}

footer {
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
